.Model {
  padding: 0.5em;
  border: 1px solid #cccccc;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.Model-inner {
  display: table;
}

.Model-render,
.Model-inner-content {
  display: table-cell;
  vertical-align: top;
}

.Model-inner-content {
  padding: 0.5em;
  width: 90%;
  position: relative;
}

.Model:last-child {
  margin-bottom: 0;
}

.Model-name {
  margin-bottom: 1em;
  font-weight: bold;
}
