<?php
header("Content-Type: application/json;charset=utf-8");

define("NO_KEEP_STATISTIC", true);
define("NO_AGENT_CHECK", true);
define('PUBLIC_AJAX_MODE', true);

require($_SERVER["DOCUMENT_ROOT"]."/bitrix/modules/main/include/prolog_before.php");

CModule::IncludeModule('iblock');

global $APPLICATION;
$_SESSION["SESS_SHOW_INCLUDE_TIME_EXEC"]="N";
$APPLICATION->ShowIncludeStat = false;

/* test */

$products = [];

$arSort = Array();
$arSelect = Array("ID", "NAME", "XML_ID", "PREVIEW_PICTURE", "DETAIL_PICTURE", "CATALOG_GROUP_*");
$arFilter = Array("IBLOCK_ID" => 4);
$res = CIBlockElement::GetList($arSort, $arFilter, false, Array("nTopCount" => 9999), $arSelect);
while($ob = $res->GetNextElement())
{
    $arFields = $ob->GetFields();

    if ($arFields['CATALOG_QUANTITY'] > 0) {
        $arFields['PREVIEW_PICTURE'] = CFile::GetPath($arFields["PREVIEW_PICTURE"]);
        $arFields['DETAIL_PICTURE'] = CFile::GetPath($arFields["DETAIL_PICTURE"]);

        $products[$arFields['XML_ID']] = $arFields['PREVIEW_PICTURE'] ? $arFields['PREVIEW_PICTURE'] : $arFields['DETAIL_PICTURE'];
    }
}

echo json_encode(['products' => $products]);


require($_SERVER["DOCUMENT_ROOT"]."/bitrix/modules/main/include/epilog_after.php");
